

<div class="main-container">
  <header class="header-1">
    <div class="branding">
      Tesla UI
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cloud</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <!--<router-outlet></router-outlet>-->
    </div>
    <clr-vertical-nav>
      <a clrVerticalNavLink >Charmander</a>
      <a clrVerticalNavLink >Jigglypuff</a>
      <a clrVerticalNavLink >Pikachu</a>
      <a clrVerticalNavLink >Raichu</a>
      <a clrVerticalNavLink >Snorlax</a>
      <!--<a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">Credit</a>-->
    </clr-vertical-nav>
  </div>
</div>
